RAG Knowlege Assistant.json
{
  "name": "Rag Based System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1pXK8avae1Zu3DtRG16ssFvGyW6Dv3Ie7",
          "mode": "list",
          "cachedResultName": "Rag Example",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pXK8avae1Zu3DtRG16ssFvGyW6Dv3Ie7"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        -16
      ],
      "id": "6f9af22f-108b-48a6-9893-1ed9e6227a6a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UkDr0HAWrMnE2nXK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -656,
        -16
      ],
      "id": "2d18e2d3-7e23-41ca-a365-58f014fb649a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UkDr0HAWrMnE2nXK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-uzma",
          "mode": "list",
          "cachedResultName": "rag-uzma"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -464,
        -16
      ],
      "id": "4f0ad0ca-ab9c-4be6-b971-3940d02dd2fc",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Fd0H8C844mbpaFFw",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -512,
        160
      ],
      "id": "f4c4b8d6-0068-466c-ae12-c1335bf61935",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nkV1WqGihHmqF49l",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -368,
        256
      ],
      "id": "4bb32590-3fc2-41dc-ac41-bf543a34a3e9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        64,
        -32
      ],
      "id": "36792b78-a7b6-41e8-8a0d-a632004d3201",
      "name": "When chat message received",
      "webhookId": "cf04e011-5ed9-4ad7-b8a1-9bccca313091"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a precise Information Extraction Assistant. Your sole purpose is to answer user queries using the provided Vector Store tool.\n\n[CRITICAL INSTRUCTIONS]\n\n1. Tool Usage: Always execute and retrieve data from the \"Vector Store\" tool for every single query. Do not rely on your pre-trained knowledge.\n\n2. Grounding: Base your answers ONLY on the information retrieved from the Vector Store. If the tool does not return relevant information, state clearly: \"I cannot find this information in the provided knowledge base.\"\n\n3. Tone & Style: Keep your responses highly concise, factual, and directly to the point. Avoid fluff or conversational filler."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        -32
      ],
      "id": "0c02005d-3767-4c63-bc78-7db3484433ff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        176
      ],
      "id": "a4c0cb2e-cd89-4191-b1ac-9d3b0d154411",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nkV1WqGihHmqF49l",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        288,
        176
      ],
      "id": "0c4a38ba-e9ff-4aaa-9227-7d6dd134f711",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your pinecone vector store",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-uzma",
          "mode": "list",
          "cachedResultName": "rag-uzma"
        },
        "topK": 3,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        272
      ],
      "id": "43715bbf-20b6-4f9e-8239-cd9e64540a68",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "Fd0H8C844mbpaFFw",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        480
      ],
      "id": "14ca7a74-3a5a-464b-b20f-e7cd61961bac",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "nkV1WqGihHmqF49l",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9b88d53e-201d-40c0-818d-df7143e2eaf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59688e824b7872a5b4f5c980a72362aca7a1243918df031b4fe3b29731009062"
  },
  "nodeGroups": [],
  "id": "1HplW2TYFJvwiMPH",
  "tags": []
}